.averia-serif-libre-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

body {
    background-color: #ECE3D1;
    font-family: 'Averia Serif Libre', serif;
    text-align: justify;
    display: flex;
    margin-top: 70px;
}

#labyrinth {
    display: inline-block;
    font-style: italic;
    font-size:0.9em;
    padding: 0;
    display: block;
    max-width: 30%;
    padding: 0 10px;
}

#forkingpath {
    display: inline-block;
    font-size:0.9em;
    font-weight:light;
    padding: 0;
    display: block;
    max-width: 30%;
    color: #C2C168;
    padding: 0 10px;
}

#wiclif {
    display: inline-block;
    font-size:0.9em;
    font-weight:light;
    padding: 0;
    display: block;
    max-width: 90%;
    padding: 0 10px;
}

#canoe {
    display: inline-block;
    font-size:0.9em;
    font-style:italic;
    padding: 0;
    color: #777737;
    display: block;
    max-width: 55%;
    padding: 0 20px;
}

#reflection {
    display: inline-block;
    font-size:0.9em;
    padding: 0;
    color: black;
    max-width: 10%;
    padding: 0 10px;
}

#reality {
    display: inline;
    font-size:0.9em;
    padding: 0;
    color: #C2C168;
    max-width: 30%;
    padding: 0 10px;
}

#book {
    display: inline;
    font-size:0.9em;
    padding: 0;
    color: #777737;
    max-width: 30%;
    padding: 0 10px;
}
path {
    display: grid;
    max-height: 200px;
    width: auto;
    object-fit: cover;
}
